<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TroyHsReunionPage</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TroyHsReunionPage.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow nav-color ">
            <div class="container-fluid">
                <div>
                    <a asp-area="" asp-controller="Internal" asp-action="WelcomePage" class="navbar-brand text-white">Home</a>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav flex-grow-1 justify-content-between">
                        <li class= "nav-item dropdown">
                            <a class="dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Navigation
                            </a>
                            <div class="dropdown-menu mt-3 rounded shadow" style="background: white" aria-labelledby="navbarDropdown">
                                <a class="text-dark dropdown-item" asp-area="" asp-controller="Internal" asp-action="Schedule">Schedule</a>
                            
                                <a class="text-dark dropdown-item" asp-area="" asp-controller="Internal" asp-action="Stories">Classmates</a>
                            
                                <a class="text-dark dropdown-item" asp-area="" asp-controller="Internal" asp-action="Tickets">Tickets</a>
                            
                                <a class="text-dark dropdown-item" asp-area="" asp-controller="Internal" asp-action="InMemorium">In Memorium</a>
                            
                                
                                <div class="dropdown-divider"></div>
                                <div class ="d-flex justify-content-center">
                                    <form asp-action="Logout" asp-controller="Home" method="post" style= >
                                        <input type="submit" value="Logout" class="btn btn-danger">
                                    </form>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>