/* _content/TroyHsReunionPage/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


a[b-i7bfu6c1v0] {
  color: whitesmoke;
}

.btn-primary[b-i7bfu6c1v0] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-i7bfu6c1v0], .nav-pills .show > .nav-link[b-i7bfu6c1v0] {
  color: rgb(195,35,51);
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-i7bfu6c1v0] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-i7bfu6c1v0] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-i7bfu6c1v0] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}


.nav-color[b-i7bfu6c1v0]{
  background:rgb(195,35,51) ;
}
.navbar-toggler-icon[b-i7bfu6c1v0] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
