@{
    ViewData["Title"] = "Home Page";
    Layout= "_InnerLayout";
}
@model Story
<div class="d-flex flex-column p-3 flex-wrap border rounded shadow m-3" style= "background: #f5f5f5">
    <div>
        <p><strong style="font-size: 20px;">Photo:</strong></p>
        <img src="@Model.ImageUrl" alt="" class="ImageSize">
    </div>
    <div>
        <div class= "mt-1">
            <p><strong style="font-size: 20px;">Name:</strong></p>
            <p>@Model.Creator.FirstName @Model.Creator.LastName</p>
        </div>
    </div>
    <div class="mb-1">
        <p><strong style="font-size: 20px;">My Story:</strong></p>
        @Model.Content
    </div>
    <div class="align-self-end">
        
    </div>
</div>